
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#default" class="logo">
    <img src="assets/homepage elements/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn play-song">Play songs</button>
      <span (click)="openLoginModal()" class="signin"><img src="assets/homepage elements/signin.png">Sign in</span>
    </form>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
