<div class="modal-header">
  <h4 class="modal-title pull-left">Log in</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Please fill in this form to log in.</p>

  <div class="form-group">
    <label for="usr">Username:</label>
    <input type="email" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control"  placeholder="Enter Password" required>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">login</button>
</div>